@{
    ViewBag.Title = "Etalonium Forever!";
}

<h2>Etalonium is here!</h2>

<p>Now you just need to rename:</p>

<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o1">
  the solution<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o2">
  the project<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o3">
  assembly name and default namespace in project's settings<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o4">
  namespace in both global.asax (accesible via "View Markup" in context menu) and global.asax.cs<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o5">
  namespace used in RadaCodeViewEngine.cs<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o6">
and the namespace in HomeController.cs<BR>

<BR>
<BR>

<p>And you are done! Para-param-pam.</p>


