@{
    ViewBag.Title = "Etalonium Forever!";
}

<h2>Привет, я Эталониум!</h2>

<p>Теперь тебе нужно только изменить:</p>

<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o1">
  назавание солюшена<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o2">
  проекта<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o3">
  имя сборки и простнанство имен в свойствах проекта<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o4">
  пространство имен в обоих global.asax (один из них доступен черех контекстное меню, пункт "View Markup") и global.asax.cs<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o5">
  пространство имен в RadaCodeViewEngine.cs<BR>
<INPUT NAME="steps" TYPE="CHECKBOX" VALUE="o6">
и пространство имент в HomeController.cs<BR>

<BR>
<BR>

<p>И у тебя уже собственный шаблон для создания сайта с кучей плюшек под капотом.</p>


